.top-section{
    margin-right:40px;
    margin-left:40px;
    background-color: #ffffff;
    margin-bottom:10px;
    border: 1px solid #ffffff;
}
.span{
    font-family: "Roboto";
    color:black;
    font-size:18px;
    text-decoration: underline;
}
.title{
    color:gray;
    font-family: "roboto";
    font-size:18px;
}
.description{
    color:black;
    font-family:"roboto";
    font-size:18px;
    font-weight: bold;
}
.back{
    border-width:2px;
    border-color: darkgreen;
    border-radius: 20px;
    background-color: #ffffff;
    color:darkgreen;
    font-family: "roboto";
    width:100px;
}
.approve{
    border-width:0;
    border-radius: 20px;
    color: #ffffff;
    background-color:darkgreen;
    font-family: "roboto";
}
.white{
    background-color: whitesmoke;
    width: auto;
}

.bootstrap-class{
    border: 0.5px solid rgb(205, 203, 203);
    background-color:#ffffff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 6px;
    padding:6px;
    margin-bottom: 20px;
}
.vl {
    border-left: 2px solid rgb(205, 203, 203);
    height: 100px;
    margin-top:20px;
  }
  .note{
    display: flex;
    flex-direction: row;
  }
  .mini{
    margin-top:20px;
    text-align: center;
    margin-right:60px;
  }